{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}



{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}



{{extend 'layout.html'}}



<script>



$(document).ready(function() { 



   jQuery('.smarttable').dataTable(); 



   {{if not form.errors:}}jQuery('#form').hide();{{pass}}



});



</script>



<h1>List client_roless</h1>







[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]



<div id="form">



<h2>New client_roles</h2>



{{=form}}



</div>







<br /><br />



<table class="smarttable">



<thead>



    <tr>



      <th>Name</th><th>Actions</th>



    </tr>    



</thead>



<tbody>



{{for client_rolesi in client_roles:}}



    <tr>



       <td>{{=link_client_roles(client_rolesi)}}</td>   



       <td>{{=button('client_roles','list_client_roles',client_rolesi.id)}}



       {{=button('edit','edit_client_roles',client_rolesi.id)}}</td>



    </tr>



{{pass}}



</tbody>



</table>



