{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}



{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}



{{extend 'layout.html'}}



<script>



$(document).ready(function() { 



   jQuery('.smarttable').dataTable(); 



   {{if not form.errors:}}jQuery('#form').hide();{{pass}}



});



</script>



<h1>List custom_fieldss</h1>







[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]



<div id="form">



<h2>New custom_fields</h2>



{{=form}}



</div>







<br /><br />



<table class="smarttable">



<thead>



    <tr>



      <th>Name</th><th>Actions</th>



    </tr>    



</thead>



<tbody>



{{for custom_fieldsi in custom_fields:}}



    <tr>



       <td>{{=link_custom_fields(custom_fieldsi)}}</td>   



       <td>{{=button('custom_fields','list_custom_fields',custom_fieldsi.id)}}



       {{=button('edit','edit_custom_fields',custom_fieldsi.id)}}</td>



    </tr>



{{pass}}



</tbody>



</table>



