{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}

{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}

{{extend 'layout.html'}}

<script>

$(document).ready(function() { 

   jQuery('.smarttable').dataTable(); 

   {{if not form.errors:}}jQuery('#form').hide();{{pass}}

});

</script>

<h1>List database_productss</h1>



[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]

<div id="form">

<h2>New database_products</h2>

{{=form}}

</div>



<br /><br />

<table class="smarttable">

<thead>

    <tr>

      <th>Name</th><th>Actions</th>

    </tr>    

</thead>

<tbody>

{{for database_product in database_products:}}

    <tr>

       <td>{{=link_database_products(database_products)}}</td>   

       <td>{{=button('persons','list_persons',x.id)}}

       {{=button('edit','edit_person',x.id)}}</td>

    </tr>

{{pass}}

</tbody>

</table>

