{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}



{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}



{{extend 'layout.html'}}



<script>



$(document).ready(function() { 



   jQuery('.smarttable').dataTable(); 



   {{if not form.errors:}}jQuery('#form').hide();{{pass}}



});



</script>



<h1>List meetingss</h1>







[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]



<div id="form">



<h2>New meetings</h2>



{{=form}}



</div>







<br /><br />



<table class="smarttable">



<thead>



    <tr>



      <th>Name</th><th>Actions</th>



    </tr>    



</thead>



<tbody>



{{for meetingsi in meetings:}}



    <tr>



       <td>{{=link_meetings(meetingsi)}}</td>   



       <td>{{=button('meetings','list_meetings',meetingsi.id)}}



       {{=button('edit','edit_meetings',meetingsi.id)}}</td>



    </tr>



{{pass}}



</tbody>



</table>



