{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}



{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}



{{extend 'layout.html'}}



<script>



$(document).ready(function() { 



   jQuery('.smarttable').dataTable(); 



   {{if not form.errors:}}jQuery('#form').hide();{{pass}}



});



</script>



<h1>List sub_accts</h1>







[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]



<div id="form">



<h2>New sub_acct</h2>



{{=form}}



</div>







<br /><br />



<table class="smarttable">



<thead>



    <tr>



      <th>Name</th><th>Actions</th>



    </tr>    



</thead>



<tbody>



{{for sub_accti in sub_acct:}}



    <tr>



       <td>{{=link_sub_acct(sub_accti)}}</td>   



       <td>{{=button('sub_acct','list_sub_acct',sub_accti.id)}}



       {{=button('edit','edit_sub_acct',sub_accti.id)}}</td>



    </tr>



{{pass}}



</tbody>



</table>



