{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}

{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}

{{extend 'layout.html'}}


<script>


$(document).ready(function() { 
   jQuery('.smarttable').dataTable(); 
   {{if not form.errors:}}jQuery('#form').hide();{{pass}}
});

</script>

<h1>List crm_contactss</h1>


[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]

<div id="form">

<h2>New crm_contacts</h2>

{{=form}}

</div>

<br /><br />

<table class="smarttable">

<thead>

    <tr>



      <th>Name</th><th>Actions</th>


    </tr>    

</thead>

<tbody>

{{for crm_contactsi in crm_contacts:}}
    <tr>
       <td>{{=link_crm_contacts(crm_contactsi)}}</td>   

       <td>{{=button('crm_contacts','list_crm_contacts',crm_contactsi.id)}}

       {{=button('edit','edit_crm_contacts',crm_contactsi.id)}}</td>

    </tr>

{{pass}}

</tbody>

</table>



