{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}



{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}



{{extend 'layout.html'}}



<script>



$(document).ready(function() { 



   jQuery('.smarttable').dataTable(); 



   {{if not form.errors:}}jQuery('#form').hide();{{pass}}



});



</script>



<h1>List currenciess</h1>







[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]



<div id="form">



<h2>New currencies</h2>



{{=form}}



</div>







<br /><br />



<table class="smarttable">



<thead>



    <tr>



      <th>Name</th><th>Actions</th>



    </tr>    



</thead>



<tbody>



{{for currenciesi in currencies:}}



    <tr>



       <td>{{=link_currencies(currenciesi)}}</td>   



       <td>{{=button('currencies','list_currencies',currenciesi.id)}}



       {{=button('edit','edit_currencies',currenciesi.id)}}</td>



    </tr>



{{pass}}



</tbody>



</table>



