<html>
  <head>

	  <link rel="stylesheet"  type='text/css' href="{{=URL('static','stupid.css')}}" />
	  
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <style>
      .menu.vertical li { width:100%; line-height:40px;}
      .menu.vertical>li>a {color:white!important;}
      table td, table tr {color: black!important;}
    </style>
  </head>
  <body class="black">
    <header class="white">
      <div class="container">
        <div class="fill padded middle">
          <label class="ham fa fa-bars pulse" for="left-menu"></label>
          <div class="burger accordion">
            <input type="checkbox" id="left-menu">
            <ul class="menu">
              <li><a><i class="fa fa-envelope"></i></a></li>
              <li><a><i class="fa fa-bell"></i></a></li>
              <li><a><i class="fa fa-calendar"></i></a></li>
            </ul>
            <ul class="menu right">
              <li><a>00:00:00</a><li>
              <li><a><i class="fa fa-th"></i></a></li>
              <li><a><i class="fa fa-group"></i> John Smith <i class="fa fa-caret-down"></i></a>
                <ul>
                  <li><a><i class="fa fa-user"></i> Profile</a></li>
                  <li><a><i class="fa fa-envelope"></i> Inbox</a></li>
                  <li><a><i class="fa fa-cog"></i> Settings</a></li>
                  <li><a><i class="fa fa-power-off"></i> Logout</a></li>              
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="black">
      <div class="container">
        <div class="quarter">
          <div class="padded">
            <ul class="menu vertical">
              <li>
                <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
              </li>
              <li>
                <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Relationship Management</a>
              </li>
                
                              <li>
                <a><i class="fa fa-fw fa-arrows-v"></i> Contacts <i class="fa fa-fw fa-caret-down"></i></a>
                <ul>
                  <li>
                    <a href="create_contact">Create Contact</a>
                  </li>
                  <li>
                    <a href="create_contact_fromVcard">Create Contact From VCard</a>
                  </li>
                                      <li>
                    <a href="view_contacts">View Contacts</a>
                  </li>
                                      <li>
                    <a href="import_contact">Import Contacts</a>
                  </li>
                </ul>
              </li>
                
                                              <li>
                <a><i class="fa fa-fw fa-arrows-v"></i> Leads <i class="fa fa-fw fa-caret-down"></i></a>
                <ul>
                  <li>
                    <a href="create_lead">Create Lead</a>
                  </li>
                  <li>
                    <a href="create_lead_fromVcard">Create Lead From VCard</a>
                  </li>
                                      <li>
                    <a href="view_leads">View Leads</a>
                  </li>
                                      <li>
                    <a href="import_leads">Import Leads</a>
                  </li>
                </ul>
              </li>
                
                              <li>
                <a><i class="fa fa-fw fa-arrows-v"></i> Opportunities <i class="fa fa-fw fa-caret-down"></i></a>
                <ul>
                  <li>
                    <a href="create_opportunities">Create Opportunities</a>
                  </li>
                  <li>
                    <a href="create_opportunities_fromVcard">Create Opportunities From VCard</a>
                  </li>
                                      <li>
                    <a href="view_opportunities">View Opportunities</a>
                  </li>
                                      <li>
                    <a href="import_opportunities">Import Opportunities</a>
                  </li>
                </ul>
              </li>
                                     <li>
                <a><i class="fa fa-fw fa-arrows-v"></i> Organisations <i class="fa fa-fw fa-caret-down"></i></a>
                <ul>
                  <li>
                    <a href="create_organisations">Create Organisations</a>
                  </li>
                  <li>
                    <a href="create_organisations_fromVcard">Create Organisations From VCard</a>
                  </li>
                                      <li>
                    <a href="view_organisations">View Organisations</a>
                  </li>
                                      <li>
                    <a href="import_organisations">Import Organisations</a>
                  </li>
                </ul>
              </li>
                
                                          <li>
                <a><i class="fa fa-fw fa-arrows-v"></i> Client Relationships <i class="fa fa-fw fa-caret-down"></i></a>
                <ul>
                  <li>
                    <a href="create_client_relationships">Create Client Relationships</a>
                  </li>
                  <li>
                    <a href="create_client_relationships_fromVcard">Create Client Relationships From VCard</a>
                  </li>
                                      <li>
                    <a href="view_client_relationships">View Client Relationships</a>
                  </li>
                                      <li>
                    <a href="import_client_relationships">Import Client Relationships</a>
                  </li>
                </ul>
              </li>    
                
                                              <li>
                <a><i class="fa fa-fw fa-arrows-v"></i> Financial Information <i class="fa fa-fw fa-caret-down"></i></a>
                <ul>
                  <li>
                    <a href="create_client_relationships">Indexes</a>
                  </li>
                  <li>
                    <a href="create_client_relationships_fromVcard">Products</a>
                  </li>
                                      <li>
                    <a href="view_client_relationships">Currencies</a>
                  </li>
                                      <li>
                    <a href="import_client_relationships">Manage Currencies</a>
                  </li>
				                                        <li>
                    <a href="import_client_relationships">Fundinfo</a>
                  </li>
                </ul>
              </li>
                
                                              <li>
                <a><i class="fa fa-fw fa-arrows-v"></i>Portfolio Management<i class="fa fa-fw fa-caret-down"></i></a>
                <ul>
                  <li>
                    <a href="create_client_relationships">Overview</a>
                  </li>
                  <li>
                    <a href="create_client_relationships_fromVcard">by Client</a>
                  </li>
                                      <li>
                    <a href="view_client_relationships">by Portfolio</a>
                  </li>
                                      <li>
                    <a href="import_client_relationships">Portfolio Allocation</a>
                  </li>
				                                        <li>
                    <a href="import_client_relationships">Create a new allocation</a>
                  </li>
				                                          <li>
                    <a href="import_client_relationships">Create a new portfolio</a>
                  </li>
                </ul>
              </li>
                

                              <li>
                <a><i class="fa fa-fw fa-arrows-v"></i> Compliance <i class="fa fa-fw fa-caret-down"></i></a>
                <ul>
                  <li>
                    <a href="https://reprior123.pythonanywhere.com/ADDFINWEALTHV1/default/vqf901">VQFFORM</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
              </li>
              <li>
                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="threequarters white">
          <div class="padded">
            <h3>Dashboard</h3>
            <div class="padded silver rounded">
              <i class="fa fa-dashboard"></i> Dashboard
              made with <a href="../index.html">Stupid.css</a>.
            </div>
            <div class="padded spaced blue rounded">
              <i class="fa fa-info"></i> Do you like this?
            </div>
         
            <div class="container">
              <div class="quarter spaced">
                <div class="blue rounded padded">
                  <i class="fa fa-comments fa-5x"></i>
                  <div class="silver padded rounded">
                    Details
                </div>
                </div>
              </div>
              <div class="quarter spaced">
                <div class="green rounded padded">
                  <i class="fa fa-tasks fa-5x"></i>
                  <div class="silver padded rounded">
                    Details
                  </div>
              </div>
              </div>
              <div class="quarter spaced">
                <div class="yellow rounded padded">
                  <i class="fa fa-shopping-cart fa-5x"></i>
                  <div class="silver padded rounded">
                    Details
                  </div>
                </div>
              </div>
              <div class="quarter spaced">
                <div class="red rounded padded">
                  <i class="fa fa-support fa-5x"></i>
                  <div class="silver padded rounded">
                    Details
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="half spaced">
                <div class="silver">
                  <div class="padded right">
                    <label for="x1" class="fa fa-bars"></label>
                  </div>
                  <div class="accordion white">
                    <input type="checkbox" checked id="x1"/>
                    <div>
                      <div class="padded rounded">
                        <span data-peity='{"fill":["red","#eeeeee"],"innerRadius":10,"radius":40}'>1/7</span>
                        <span data-peity='{ "fill":["orange","#eeeeee"],"innerRadius":14,"radius":36}'>2/7</span>
                        <span data-peity='{ "fill": ["yellow", "#eeeeee"], "innerRadius": 16, "radius": 32 }'>3/7</span>
                        <span data-peity='{ "fill": ["green", "#eeeeee"],  "innerRadius": 18, "radius": 28 }'>4/7</span>
                        <span data-peity='{ "fill": ["blue", "#eeeeee"],   "innerRadius": 20, "radius": 24 }'>5/7</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="half spaced">
                <div class="silver">
                  <div class="padded right">
                    <label for="x2" class="fa fa-bars"></label>
                  </div>
                  <div class="accordion white">
                    <input type="checkbox" checked id="x2"/>
                    <div>
                      <div class="padded rounded">
                        <div>
                          <span class="pie">1/5</span>
                          <span class="pie">226/360</span>
                          <span class="pie">0.52/1.561</span>
                          <span class="pie">1,4</span>
                          <span class="pie">226,134</span>
                          <span class="pie">0.52,1.041</span>
                          <span class="pie">1,2,3,2,2</span>
                        </div>
                        <div>
                          <span class="donut">1/5</span>
                          <span class="donut">226/360</span>
                          <span class="donut">0.52/1.561</span>
                          <span class="donut">1,4</span>
                          <span class="donut">226,134</span>
                          <span class="donut">0.52,1.041</span>
                          <span class="donut">1,2,3,2,2</span>
                        </div>
                        <div>
                          <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                          <span class="line">5,3,2,-1,-3,-2,2,3,5,2</span>
                          <span class="line">0,-3,-6,-4,-5,-4,-7,-3,-5,-2</span>
                          <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                          <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                          <span class="bar">0,-3,-6,-4,-5,-4,-7,-3,-5,-2</span>
                        </div>
                        <div>
                          <span class="bar-colours-1">5,3,9,6,5,9,7,3,5,2</span>
                          <span class="bar-colours-2">5,3,2,-1,-3,-2,2,3,5,2</span>
                          <span class="bar-colours-3">0,-3,-6,-4,-5,-4,-7,-3,-5,-2</span>
                          <span class="pie-colours-1">4,7,6,5</span>
                          <span class="pie-colours-2">5,3,9,6,5</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="half spaced">
                <div class="silver">
                  <div class="padded right">
                    <label for="x3" class="fa fa-bars"></label>
                  </div>
                  <div class="accordion white">
                    <input type="checkbox" checked id="x3"/>
                    <div>
                      <div class="padded rounded">
                        <iframe src="https://www.youtube.com/embed/x1w8hKTJ2Co" frameborder="0" allowfullscreen style="width:100%"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="half spaced">
                <div class="silver">
                  <div class="padded right">
                    <label for="x4" class="fa fa-bars"></label>
                  </div>
                  <div class="accordion white">
                    <input type="checkbox" checked id="x4"/>
                    <div>
                      <div class="padded rounded">
                        <table class="fill">
                          <thead>
                            <tr>
                              <th>
                                Left
                              </th>
                              <th>
                                Right
                              </th>
                          </thead>
                          <tbody>
                            <tr>
                              <td>21325</td>
                              <td>34523</td>
                            </tr>
                            <tr>
                              <td>67257</td>
                              <td>61953</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="black">
      <div class="container">
        <div class="half">
          <div class="padded">
          </div>
        </div>
        <div class="half">
          <div class="padded">
          </div>
        </div>        
      </div>
    </footer>
    <div class="modal" id="app">
      <div class="twothirds rounded white padded relative">
        <a class="close" href="#modal-stupid-example">&times;</a>
        <h2>Dashboard template from stupid.css</h2>
        <p>
          This template uses <a href="http://mdipierro.github.io/stupid.css/index.html">stupid.css</a>, a pure CSS library for style and effects.
        </p>
        <div class="high">
          <a class="close right btn" href="#modal-stupid-example" >close</a>
        </div>
      </div>
    </div>
  </body>
  <!-- code below is only for charts -->
  <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <script src="dashboard/jquery.peity.js"></script>
  <script>
    $("span.pie").peity("pie");
    $('.donut').peity('donut');
    $(".line").peity("line");
    $(".bar").peity("bar");
    $("span[data-peity]").peity("donut")
    $(".bar-colours-1").peity("bar", {
      fill: ["red", "green", "blue"]
    });    
    $(".bar-colours-2").peity("bar", {
      fill: function(value) {
        return value > 0 ? "green" : "red"
      }
    });    
    $(".bar-colours-3").peity("bar", {
      fill: function(_, i, all) {
        var g = parseInt((i / all.length) * 255)
        return "rgb(255, " + g + ", 0)"
      }
    });
    $(".pie-colours-1").peity("pie", {
      fill: ["cyan", "magenta", "yellow", "black"]
    });    
    $(".pie-colours-2").peity("pie", {
      fill: function(_, i, all) {
        var g = parseInt((i / all.length) * 255)
        return "rgb(255, " + g + ", 0)"
      }
    });
  </script>
</html>
