
			<nav class="main">
	<ul class="level1">
		
						<li class="icon dashboard current">
				<a class="link primary" href="index.php?module=Home&action=index"><span>Dashboard</span></a>
					
			</li>
		
						<li class="icon customers">
				<a class="link primary" href="index.php?module=Accounts&action=index"><span>Relationship Management</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Relationship Management</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
													<li class="accordion-item">
											<a class="link" href="index.php?module=Leads&action=index"  >Leads</a>
																							<ul class="level3">
																							<li class="">
													<a href="index.php?module=Leads&action=EditView&return_module=Leads&return_action=DetailView">Create Lead</a>
												</li>
																							<li class="">
													<a href="index.php?module=Leads&action=ImportVCard">Create Lead From VCard</a>
												</li>
																							<li class="">
													<a href="index.php?module=Leads&action=index&return_module=Leads&return_action=DetailView">View Leads</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Leads&return_module=Leads&return_action=index">Import Leads</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Opportunities&action=index"  >Opportunities</a>
																										<ul class="level3">
																							<li class="">
													<a href="index.php?module=Opportunities&action=EditView&return_module=Opportunities&return_action=DetailView">Create Opportunity</a>
												</li>
																							<li class="">
													<a href="index.php?module=Opportunities&action=index&return_module=Opportunities&return_action=DetailView">View Opportunities</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Opportunities&return_module=Opportunities&return_action=index">Import Opportunities</a>
												</li>
																					</ul>
																	</li>
			<li class="accordion-item">
						<a class="link" href="index.php?module=Contacts&action=index"  >Contacts</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Contacts&action=EditView&return_module=Contacts&return_action=index">Create Contact</a>
												</li>
																							<li class="">
													<a href="index.php?module=Contacts&action=ImportVCard">Create Contact From VCard</a>
												</li>
																							<li class="">
													<a href="index.php?module=Contacts&action=index&return_module=Contacts&return_action=DetailView">View Contacts</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Contacts&return_module=Contacts&return_action=index">Import Contacts</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Accounts&action=index"  >Organisations</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Accounts&action=EditView&return_module=Accounts&return_action=index">Create Organisation</a>
												</li>
																							<li class="">
													<a href="index.php?module=Accounts&action=index&return_module=Accounts&return_action=DetailView">View Organisations</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Accounts&return_module=Accounts&return_action=index">Import Organisations</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=KBE_KUBE&action=index"  >Client Relationships</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=KBE_KUBE&action=EditView&return_module=KBE_KUBE&return_action=DetailView">Create Client Relationship</a>
												</li>
																							<li class="">
													<a href="index.php?module=KBE_KUBE&action=index">View Client Relationship</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Notes&action=index"  >Notes</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Notes&action=EditView&return_module=Notes&return_action=DetailView">Create Note or Attachment</a>
												</li>
																							<li class="">
													<a href="index.php?module=Notes&action=index&return_module=Notes&return_action=DetailView">View Notes</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Notes&return_module=Notes&return_action=index">Import Notes</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Tasks&action=index"  >Tasks</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Tasks&action=EditView&return_module=Tasks&return_action=DetailView">Create Task</a>
												</li>
																							<li class="">
													<a href="index.php?module=Tasks&action=index&return_module=Tasks&return_action=DetailView">View Tasks</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Tasks&return_module=Tasks&return_action=index">Import Tasks</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Calls&action=index"  >Calls</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Calls&action=EditView&return_module=Calls&return_action=DetailView">Log Call</a>
												</li>
																							<li class="">
													<a href="index.php?module=Calls&action=index&return_module=Calls&return_action=DetailView">View Calls</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Calls&return_module=Calls&return_action=index">Import Calls</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Meetings&action=index"  >Meetings</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Meetings&action=EditView&return_module=Meetings&return_action=DetailView">Schedule Meeting</a>
												</li>
																							<li class="">
													<a href="index.php?module=Meetings&action=index&return_module=Meetings&return_action=DetailView">View Meetings</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Meetings&return_module=Meetings&return_action=index">Import Meetings</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Calendar&action=index"  >Agenda</a>
																										</li>
								
						</ul>
					</div>
					
			</li>
		
						<li class="icon documents">
				<a class="link primary" href="index.php?module=nxc_Documents&action=index"><span>Document Center</span></a>
					
			</li>
		
						<li class="icon database">
				<a class="link primary" href="index.php?module=DatabaseIndexes&action=show"><span>Financial Information</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Financial Information</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
																						<li class="">
																			<a class="link" href="index.php?module=DatabaseIndexes&action=show"  >Indexes</a>
																										</li>
															<li class="">
																			<a class="link" href="index.php?module=DatabaseProducts&action=show"  >Products</a>
																										</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=DatabaseCurrencies&action=index"  >Currencies</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=DatabaseCurrencies&action=adminIndex">Manage Currencies</a>
												</li>
																					</ul>
																	</li>
															<li class="">
																			<a class="link" href="index.php?module=Database_Fundinfo&action=index"  >Fundinfo</a>
																										</li>
								
						</ul>
					</div>
					
			</li>
		
						<li class="icon investment-section">
				<a class="link primary" href="index.php?module=Portfolio&action=index"><span>Portfolio Management</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Portfolio Management</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
																						<li class="">
																			<a class="link" href="index.php?module=Portfolio&action=index"  >Overview</a>
																										</li>
															<li class="">
																			<a class="link" href="index.php?module=Portfolio&action=SearchClient"  >by Client</a>
																										</li>
															<li class="">
																			<a class="link" href="index.php?module=Portfolio&action=SearchPortfolio"  >by Portfolio</a>
																										</li>
															<li class="">
																			<a class="link" href="index.php?module=Portfolio_Allocation&action=index"  >Portfolio Allocation</a>
																										</li>
															<li class="quick-links-header">
																			<span class="" >Quick Links</span>
																										</li>
															<li class="quick-link">
																			<a class="icon icon-more" href="index.php?module=Portfolio_Allocation&action=EditView"  >Create a new allocation</a>
																										</li>
								
						</ul>
					</div>
					
			</li>
		
						<li class="icon report">
				<a class="link primary" href="index.php?module=ComplianceReports&action=Overview"><span>Compliance</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Compliance</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
																						<li class="">
																			<a class="link" href="index.php?module=ComplianceReports&action=Overview"  >Overview</a>
																										</li>
															<li class="accordion-item">
																			<a class="" href="index.php?module=KBE_VQF&action=index"  >Regulatory</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=KBE_VQF&action=index">View all cases</a>
												</li>
																							<li class="">
													<a href="index.php?module=KBE_VQF&action=EditView&return_module=KBE_VQF&return_action=DetailView">Create Case</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="" href="index.php?module=ComplianceReports&action=Overview"  >Investment</a>
																																						<ul class="level3">
																							<li class="accordion-item">
													<a href="index.php?module=ComplianceReports&action=Overview">View all cases</a>
												</li>
																							<li class="">
													<a href="index.php?module=GII&action=index">GII</a>
												</li>
																							<li class="">
													<a href="index.php?module=GII&action=EditView&return_module=GII&return_action=DetailView">Create GII</a>
												</li>
																							<li class="">
													<a href="index.php?module=PII&action=index">PII</a>
												</li>
																							<li class="">
													<a href="index.php?module=PII&action=EditView&return_module=PII&return_action=DetailView">Create PII</a>
												</li>
																					</ul>
																	</li>
								
						</ul>
					</div>
					
			</li>
		
						<li class="icon addfin-circle">
				<a class="link primary" href="index.php?module=nxcAddfinCircle&action=index"><span>ADDFIN Circle</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Compliance</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
																						<li class="">
																			<a class="link" href="javascript:void(0)"  >Companies</a>
																										</li>
															<li class="">
																			<a class="link" href="javascript:void(0)"  >Library</a>
																										</li>
								
						</ul>
					</div>
					
			</li>
			</ul>
</nav>	