{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}



{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}



{{extend 'layout.html'}}



<script>



$(document).ready(function() { 



   jQuery('.smarttable').dataTable(); 



   {{if not form.errors:}}jQuery('#form').hide();{{pass}}



});



</script>



<h1>List database_fundinfos</h1>







[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]



<div id="form">



<h2>New database_fundinfo</h2>



{{=form}}



</div>







<br /><br />



<table class="smarttable">



<thead>



    <tr>



      <th>Name</th><th>Actions</th>



    </tr>    



</thead>



<tbody>



{{for database_fundinfoi in database_fundinfo:}}



    <tr>



       <td>{{=link_database_fundinfo(database_fundinfoi)}}</td>   



       <td>{{=button('database_fundinfo','list_database_fundinfo',database_fundinfoi.id)}}



       {{=button('edit','edit_database_fundinfo',database_fundinfoi.id)}}</td>



    </tr>



{{pass}}



</tbody>



</table>



