<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Oxidation
Description: A two-column, fixed-width design for small websites and blogs.
Version    : 1.0
Released   : 20071229
layout for main views dir

-->
<html xmlns="http://www.w3.org/1999/xhtml">

	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/style.css')}}"/>
	    <link rel="stylesheet" type="text/css"  href="{{=URL('static','themes/AddfinV3/jquery.ui.all.css')}}"/>
	    <link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/styles.css')}}"/>
	    <link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/deprecated.css')}}"/>
	    <link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/yui.css')}}"/>
		
<!--		find: ‘jquer*’: No such file or directory
./include/javascript/jquery/markitup/sets/default/style.css
./include/javascript/jquery/markitup/skins/simple/style.css
./include/javascript/jquery/markitup/templates/preview.css -->
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.accordion.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.all.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.autocomplete.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.base.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.button.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.core.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.datepicker.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.dialog.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.progressbar.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.resizable.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.selectable.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.slider.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.tabs.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.theme.css')}}"/>

<script type="text/javascript" src="cache/themes/AddfinV3/js/style.js
"></script>
    	
	<!-- For all browsers -->
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/styles.css')}}"/>	
    <link rel="shortcut icon" href="{{=URL('static','themes/AddfinV3/images/favicons/favicon.png')}}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}" />
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}"/>
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
	<!-- Webfonts -->
    <link rel="stylesheet" type='text/css' href="{{=URL('static','https://fonts.googleapis.com/css?family=Lato:300,400,700')}}"/>	
    <link rel="stylesheet"  type='text/css' href="{{=URL('static','https://fonts.googleapis.com/css?family=Oswald:400,700,300')}}"/>	
	<!-- JavaScript at bottom except for Modernizr -->
	<script src="themes/AddfinV3/js/libs/modernizr.custom.js"></script>
	<!-- For Modern Browsers -->
	<link rel="shortcut icon" href="AddfinV6/static/themes/AddfinV3/images/favicons/favicon.png">
	<!-- For everything else -->
	<link rel="shortcut icon" href="AddfinV6/static/themes/AddfinV3/images/favicons/favicon.ico">
	<!-- For retina screens -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="AddfinV6/static/themes/AddfinV3/images/favicons/apple-touch-icon-retina.png">
	<!-- For iPad 1-->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="AddfinV6/static/themes/AddfinV3/images/favicons/apple-touch-icon-ipad.png">
	<!-- For iPhone 3G, iPod Touch and Android -->
	<link rel="apple-touch-icon-precomposed" href="AddfinV6/static/themes/AddfinV3/images/favicons/apple-touch-icon.png">
	<!-- iOS web-app metas -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- Startup image for web apps -->
	<link rel="apple-touch-startup-image" href="AddfinV6/static/themes/AddfinV3/images/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
	<link rel="apple-touch-startup-image" href="AddfinV6/static/themes/AddfinV3/images/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
	<link rel="apple-touch-startup-image" href="AddfinV6/static/themes/AddfinV3/images/splash/iphone.png" media="screen and (max-device-width: 320px)">
	<!-- Microsoft clear type rendering -->
	<meta http-equiv="cleartype" content="on">
 <head>
  <title>ðŸ“ˆAddfinwealth</title>
  <link rel="shortcut icon" href="company_logo.ico" type="image/x-icon" />
  {{response.files.append(URL(request.application,'static','Oxidation/style.css'))}}
{{include 'web2py_ajax.html'}}
 </head>
 <body>
  <div id="header">

   <div id="search">
    <form id="searchform" method="get" action="">
     <fieldset>
       [
       {{if not auth.user:}}
       <a href="{{=URL('user/login')}}">login</a>
       {{else:}}
       {{=auth.user.first_name}} |
       <a href="{{=URL('user/logout')}}">logout</a> |
       <a href="{{=URL('user/change_password')}}">password</a> |
       <a href="{{=URL('user/profile')}}">profile</a>
       {{pass}} ]
      <input id="searchquery" type="text" size="25" name="s" value="" />
      <input id="searchsubmit" type="submit" value="Search" />
     </fieldset>
    </form>
   </div>
  </div>
  
  
  <!-- end #header -->
<!-- <div id="menu"> -->
   <!-- {{=MENU(response.menu)}} -->
  <!-- </div> -->
  <!-- end #menu -->
  
  <div id="page">
   <div id="content">
     <div id="main">
        <div class="flash">{{=response.flash or ''}}</div> 
       {{include}}
     </div>
   </div>
   
   <!-- end content -->
   <!-- {{left_sidebar_enabled=True,right_sidebar_enabled=False,('message' in globals())}} -->
<nav class="main">
     <!--<div class="ez-box" id="left_sidebar"> -->
            {{block leftbar}}
                {{=MENU(response.menu,_class='level1')}}
            {{end}}    
            <!--</div> -->

</nav>	
	<section role="main" class="main row personal-open">
		<div id="content" class="small-12 column">
			
			<iframe id='ajaxUI-history-iframe' src='index.php?entryPoint=getImage&amp;imageName=blank.png'  title='empty' style='display:none'></iframe>
			<input id='ajaxUI-history-field' type='hidden'>
			<script type='text/javascript'>




<div class="current-date"><span>May</span><strong>26</strong></div>

<div class="moduleTitle">
        <img id="company_logo_image" src='custom/themes/default/images/company_logo.png' alt='' class="left" />
    <div class="left">
        <h2>Dashboard</h2>
        <button id="add_dashlets" class="button icon icon-plus" title="Add Dashlets" onclick="return SUGAR.mySugar.showDashletsDialog();"></button>    </div>
    </div>

<div id="pageContainer" class="yui-skin-sam">
    <div id="pageNum_0_div">
        <table class="span9" cellspacing="0" cellpadding="0" border="0">
            <tbody class="span9">
                <tr class="main-chart-row">
                    <td colspan="2">
                        <div class="chart">
	<div class="chart-map"></div>
	<ul class="chart-legend">
		<li class="live">
			<span class="graf-color"></span>
			<span class="graf-name">Live Portfolios</span>
		</li>
		<li class="ben">
			<span class="graf-color"></span>
			<span class="graf-name">Benchmark Portfolios</span>
		</li>
		<li class="sim">
			<span class="graf-color"></span>
			<span class="graf-name">Simulation Portfolios</span>
		</li>
	</ul>
</div>
<div class="chart-right-menu">
	<div class="menu-header">
		<a class="icon-settings" href="javascript:void(0)"></a>
		<a class="refreshIcon" href="javascript:void(0)"></a>
	</div>
	<table class="menu-entries">
		<tbody>
			<tr>
				<td class="icon icon-tasks"></td>
				<td class="counter">6</td>
				<td colspan="2" class="menu-title"><a href="index.php?module=Tasks&action=index">Open<br>Tasks</a></td>
			</tr>
			<tr>
				<td class="icon icon-target"></td>
				<td class="counter">8</td>
				<td class="menu-title"><a href="index.php?module=Leads&action=index">New<br>Leads</a></td>
				<td class="leads-progress">
					<div class="in-progress">
						<span class="counter">1</span>
						<span>in progress</span>
					</div>
					<div class="not-started">
						<span class="counter">1</span>
						<span>not started</span>
					</div>
				</td>
			</tr>
			<tr>
				<td class="icon icon-portfolios"></td>
				<td class="counter">3</td>
				<td colspan="2" class="menu-title">
					<a href="#">Portfolios</a>
					<span>under management</span>	
				</td>
			</tr>
			<tr>
				<td class="icon icon-office-management"></td>
				<td class="counter">26</td>
				<td class="menu-title">
					<a href="index.php?module=Contacts&action=index">Accounts</a>
					<span>under management</span>	
				</td>
				<td class="account-groups">
					<div>
						<span class="counter">6</span>
						<span>Clients</span>
					</div>
					<div>
						<span class="counter">2</span>
						<span>Prospects</span>
					</div
				</td>
			</tr>
		</tbody>
	</table>
</div>


			
			<body onMouseOut="closeMenus();" class="clearfix with-menu with-shortcuts menu-hidden">

			<header role="banner" id="title-bar">
		<div class="logo">
			<div class="quick-access">
	
	
<div class="quick-access-wrapper">
	<ul>
		<li class="create-report disabled">
			<a href="javascript:void(0)" class="link-iframe">Create a Report</a>
		</li> 
		
		

   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end page -->
  <div id="footer">
   <p class="legal">
    &copy;2016 All Rights Reserved.
   </p>
   <p class="credit">
    Design by
    <a href="http://www.addfinwealth.com/">
     Addfin
    </a>
   </p>
  </div>
 </body>
</html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="linen js-login" >
    <head>
        <title>ADDFIN &#8211; Central Authentication Service</title>
        
        

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" href="/cas/favicon.ico" type="image/x-icon" />
        
    <!-- FROM LOGIN >>>> -->
        
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- For all browsers -->
    <link rel="stylesheet" href="css/reset.css?v=1">
    <link rel="stylesheet" href="css/style.css?v=1">
    <link rel="stylesheet" href="css/colors.css?v=1">
    <link rel="stylesheet" media="print" href="css/print.css?v=1">
    <!-- For progressively larger displays -->
    <link rel="stylesheet" media="only all and (min-width: 480px)" href="css/480.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 768px)" href="css/768.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 992px)" href="css/992.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 1200px)" href="css/1200.css?v=1">
    <!-- For Retina displays -->
    <link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="css/2x.css?v=1">

    <!-- Additional styles -->
    <link rel="stylesheet" href="css/styles/form.css?v=1">

    <!-- Login pages styles -->
    <link rel="stylesheet" media="screen" href="css/login.css?v=1">
    
    
    <!-- JavaScript at bottom except for Modernizr -->
    <script src="js/libs/modernizr.custom.js"></script>
    </head>
    <body>

<div id="container">
    <hgroup id="login-title" class="large-margin-bottom">
        <h1 class="login-title-image">Developr</h1>
    </hgroup>


  <div class="box fl-panel" id="login">
			<form id="fm1" class="fm-v clearfix" action="/cas/login?service=https%3A%2F%2Fmarketing.addfinwealth.com%2Findex.php%3Fmodule%3DDatabaseProducts%26action%3Dshow" method="post">
			
				<!-- Displaying error messages -->
				
				        
				
                    
                <ul class="inputs black-input large">
					<!-- The autocomplete="off" attributes is the only way to prevent webkit browsers from filling the inputs with yellow -->
                    
						

						
						
						<li>
							<span class="icon-user mid-margin-right"></span>
							<input id="username" name="username" class="input-unstyled" tabindex="1" placeholder="Login" accesskey="u" type="text" value="" size="25" autocomplete="false"/>
						</li>
						
						
					<li>
					
                        <span class="icon-lock mid-margin-right"></span>
						
						
						<input id="password" name="password" class="input-unstyled" tabindex="2" placeholder="Password" class="input-unstyled" accesskey="p" type="password" value="" size="25" autocomplete="off"/>
                    
                    </li>
				</ul>
                    
                    <div class="row btn-row">
						<input type="hidden" name="lt" value="LT-2630-uSePFcA6dLdeitz1F601yp93mAooHx" />
						<input type="hidden" name="execution" value="e1s1" />
						<input type="hidden" name="_eventId" value="submit" />

                        <input class="button glossy full-width huge" name="submit" accesskey="l" value="LOGIN" tabindex="4" type="submit" />
                        
            </form>
          </div>
          
</div><!-- end container -->

		
		<script src="js/jquery/jquery-1.7.2.js"></script>
		<script src="js/setup.js"></script>
			
        <!-- This script gives blue border around form on focus and needs setup.js, jquery-1.7.2.js and modernizr.custom.js -->
		<script src="js/developr.input.js"></script>
		
        <script type="text/javascript" src="/cas/js/cas.js"></script>
        
    </body>
</html>
