<!DOCTYPE html>
<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="lang='en_us'"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="lang='en_us'"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie9" lang="lang='en_us'"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="lang='en_us'"><!--<![endif]-->
<head>


	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>AddFin</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/style.css')}}"/>
	    <link rel="stylesheet" type="text/css"  href="{{=URL('static','themes/AddfinV3/jquery.ui.all.css')}}"/>
	    <link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/styles.css')}}"/>
	    <link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/deprecated.css')}}"/>
	    <link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/yui.css')}}"/>
		
<!--		find: ‘jquer*’: No such file or directory
./include/javascript/jquery/markitup/sets/default/style.css
./include/javascript/jquery/markitup/skins/simple/style.css
./include/javascript/jquery/markitup/templates/preview.css -->
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.accordion.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.all.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.autocomplete.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.base.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.button.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.core.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.datepicker.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.dialog.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.progressbar.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.resizable.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.selectable.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.slider.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.tabs.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/base/jquery.ui.theme.css')}}"/>

<script type="text/javascript" src="cache/themes/AddfinV3/js/style.js
"></script>
    	
	<!-- For all browsers -->
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','themes/AddfinV3/styles.css')}}"/>	
    <link rel="shortcut icon" href="{{=URL('static','themes/AddfinV3/images/favicons/favicon.png')}}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{=URL('static','images/favicon.ico')}}" />
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}"/>
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
	<!-- Webfonts -->
    <link rel="stylesheet" type='text/css' href="{{=URL('static','https://fonts.googleapis.com/css?family=Lato:300,400,700')}}"/>	
    <link rel="stylesheet"  type='text/css' href="{{=URL('static','https://fonts.googleapis.com/css?family=Oswald:400,700,300')}}"/>	
	<!-- JavaScript at bottom except for Modernizr -->
	<script src="themes/AddfinV3/js/libs/modernizr.custom.js"></script>
	<!-- For Modern Browsers -->
	<link rel="shortcut icon" href="AddfinV6/static/themes/AddfinV3/images/favicons/favicon.png">
	<!-- For everything else -->
	<link rel="shortcut icon" href="AddfinV6/static/themes/AddfinV3/images/favicons/favicon.ico">
	<!-- For retina screens -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="AddfinV6/static/themes/AddfinV3/images/favicons/apple-touch-icon-retina.png">
	<!-- For iPad 1-->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="AddfinV6/static/themes/AddfinV3/images/favicons/apple-touch-icon-ipad.png">
	<!-- For iPhone 3G, iPod Touch and Android -->
	<link rel="apple-touch-icon-precomposed" href="AddfinV6/static/themes/AddfinV3/images/favicons/apple-touch-icon.png">
	<!-- iOS web-app metas -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- Startup image for web apps -->
	<link rel="apple-touch-startup-image" href="AddfinV6/static/themes/AddfinV3/images/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
	<link rel="apple-touch-startup-image" href="AddfinV6/static/themes/AddfinV3/images/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
	<link rel="apple-touch-startup-image" href="AddfinV6/static/themes/AddfinV3/images/splash/iphone.png" media="screen and (max-device-width: 320px)">
	<!-- Microsoft clear type rendering -->
	<meta http-equiv="cleartype" content="on">

	<!-- IE9 Pinned Sites: http://msdn.microsoft.com/en-us/library/gg131029.aspx -->
	<meta name="application-name" content="Developr Admin Skin">
	<meta name="msapplication-tooltip" content="Cross-platform admin template.">
	<meta name="msapplication-starturl" content="http://www.display-inline.fr/demo/developr">
	<!-- These custom tasks are examples, you need to edit them to show actual pages -->
	<meta name="msapplication-task" content="name=Agenda;action-uri=http://www.display-inline.fr/demo/developr/agenda.html;icon-uri=http://www.display-inline.fr/demo/developr/img/favicons/favicon.ico">
	<meta name="msapplication-task" content="name=My profile;action-uri=http://www.display-inline.fr/demo/developr/profile.html;icon-uri=http://www.display-inline.fr/demo/developr/img/favicons/favicon.ico">
	

</head>

<div id="menu"> 
    {{=MENU(response.menu)}} 
  </div> 
  
<body onMouseOut="closeMenus();" class="clearfix with-menu with-shortcuts menu-hidden">
	<header role="banner" id="title-bar">
		<div class="logo">
			<div class="quick-access">
	
	
<div class="quick-access-wrapper">
	<ul>
		<li class="create-report disabled">
			<a href="javascript:void(0)" class="link-iframe">Create a Report</a>
		</li> 
		<li class="create-client">
			       <a class="link-iframe" href="{{=URL('list_crm_contacts')}}">Create a Client</a>
		</li>
		<li class="set-meeting">
			<a href="/index.php?module=QuickLinks&action=QuickLinks&manage_quick_link=create_meeting" class="link-iframe">Set a Meeting</a>
		</li>
		<li class="client-note">
			<a href="/index.php?module=QuickLinks&action=QuickLinks&manage_quick_link=create_note" class="link-iframe">Client Note</a>
		</li>
		<li class="set-alert">
			<a href="/index.php?module=Tasks&action=EditView&return_module=Tasks&return_action=DetailView" class="link-iframe">Set Alert</a>
		</li>
		<li class="see-complience disabled">
			<a href="javascript:void(0)" class="link-iframe">See Complience</a>
		</li>
		<li class="upload-doc disabled">
			<a href="javascript:void(0)" class="link-iframe">Upload Doc</a>
		</li>
		<li class="statistics disabled">
			<a href="javascript:void(0)" class="link-iframe">Statistics</a>
		</li>
	</ul>
	


</div>			</div>
			<a href="#" class="logo-img"></a>
		</div>
		<div class="quick-search-wrapper">
			<div class="quick-search">
				<input type="text" name="search" value="" />
			</div>
			<div class="autocompleted-list"></div>
		</div>
	</header>
	<noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>

	<!-- Prompt IE 6 users to install Chrome Frame -->
	<!--[if lt IE 7]><p class="message red-gradient simpler">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	
	





			<nav class="main">
	<ul class="level1">
		
						<li class="icon dashboard current">
				<a class="link primary" href="index.php?module=Home&action=index"><span>Dashboard</span></a>
					
			</li>
		
						<li class="icon customers">
				<a class="link primary" href="index.php?module=Accounts&action=index"><span>Relationship Management</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Relationship Management</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
													<li class="accordion-item">
											<a class="link" href="index.php?module=Leads&action=index"  >Leads</a>
																							<ul class="level3">
																							<li class="">
													<a href="index.php?module=Leads&action=EditView&return_module=Leads&return_action=DetailView">Create Lead</a>
												</li>
																							<li class="">
													<a href="index.php?module=Leads&action=ImportVCard">Create Lead From VCard</a>
												</li>
																							<li class="">
													<a href="index.php?module=Leads&action=index&return_module=Leads&return_action=DetailView">View Leads</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Leads&return_module=Leads&return_action=index">Import Leads</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Opportunities&action=index"  >Opportunities</a>
																										<ul class="level3">
																							<li class="">
													<a href="index.php?module=Opportunities&action=EditView&return_module=Opportunities&return_action=DetailView">Create Opportunity</a>
												</li>
																							<li class="">
													<a href="index.php?module=Opportunities&action=index&return_module=Opportunities&return_action=DetailView">View Opportunities</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Opportunities&return_module=Opportunities&return_action=index">Import Opportunities</a>
												</li>
																					</ul>
																	</li>
			<li class="accordion-item">
						<a class="link" href="index.php?module=Contacts&action=index"  >Contacts</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Contacts&action=EditView&return_module=Contacts&return_action=index">Create Contact</a>
												</li>
																							<li class="">
													<a href="index.php?module=Contacts&action=ImportVCard">Create Contact From VCard</a>
												</li>
																							<li class="">
													<a href="index.php?module=Contacts&action=index&return_module=Contacts&return_action=DetailView">View Contacts</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Contacts&return_module=Contacts&return_action=index">Import Contacts</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Accounts&action=index"  >Organisations</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Accounts&action=EditView&return_module=Accounts&return_action=index">Create Organisation</a>
												</li>
																							<li class="">
													<a href="index.php?module=Accounts&action=index&return_module=Accounts&return_action=DetailView">View Organisations</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Accounts&return_module=Accounts&return_action=index">Import Organisations</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=KBE_KUBE&action=index"  >Client Relationships</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=KBE_KUBE&action=EditView&return_module=KBE_KUBE&return_action=DetailView">Create Client Relationship</a>
												</li>
																							<li class="">
													<a href="index.php?module=KBE_KUBE&action=index">View Client Relationship</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Notes&action=index"  >Notes</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Notes&action=EditView&return_module=Notes&return_action=DetailView">Create Note or Attachment</a>
												</li>
																							<li class="">
													<a href="index.php?module=Notes&action=index&return_module=Notes&return_action=DetailView">View Notes</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Notes&return_module=Notes&return_action=index">Import Notes</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Tasks&action=index"  >Tasks</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Tasks&action=EditView&return_module=Tasks&return_action=DetailView">Create Task</a>
												</li>
																							<li class="">
													<a href="index.php?module=Tasks&action=index&return_module=Tasks&return_action=DetailView">View Tasks</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Tasks&return_module=Tasks&return_action=index">Import Tasks</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Calls&action=index"  >Calls</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Calls&action=EditView&return_module=Calls&return_action=DetailView">Log Call</a>
												</li>
																							<li class="">
													<a href="index.php?module=Calls&action=index&return_module=Calls&return_action=DetailView">View Calls</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Calls&return_module=Calls&return_action=index">Import Calls</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Meetings&action=index"  >Meetings</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Meetings&action=EditView&return_module=Meetings&return_action=DetailView">Schedule Meeting</a>
												</li>
																							<li class="">
													<a href="index.php?module=Meetings&action=index&return_module=Meetings&return_action=DetailView">View Meetings</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Meetings&return_module=Meetings&return_action=index">Import Meetings</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Calendar&action=index"  >Agenda</a>
																										</li>
								
						</ul>
					</div>
					
			</li>
		
						<li class="icon documents">
				<a class="link primary" href="index.php?module=nxc_Documents&action=index"><span>Document Center</span></a>
					
			</li>
		
						<li class="icon database">
				<a class="link primary" href="index.php?module=DatabaseIndexes&action=show"><span>Financial Information</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Financial Information</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
																						<li class="">
																			<a class="link" href="index.php?module=DatabaseIndexes&action=show"  >Indexes</a>
																										</li>
															<li class="">
																			<a class="link" href="index.php?module=DatabaseProducts&action=show"  >Products</a>
																										</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=DatabaseCurrencies&action=index"  >Currencies</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=DatabaseCurrencies&action=adminIndex">Manage Currencies</a>
												</li>
																					</ul>
																	</li>
															<li class="">
																			<a class="link" href="index.php?module=Database_Fundinfo&action=index"  >Fundinfo</a>
																										</li>
								
						</ul>
					</div>
					
			</li>
		
						<li class="icon investment-section">
				<a class="link primary" href="index.php?module=Portfolio&action=index"><span>Portfolio Management</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Portfolio Management</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
																						<li class="">
																			<a class="link" href="index.php?module=Portfolio&action=index"  >Overview</a>
																										</li>
															<li class="">
																			<a class="link" href="index.php?module=Portfolio&action=SearchClient"  >by Client</a>
																										</li>
															<li class="">
																			<a class="link" href="index.php?module=Portfolio&action=SearchPortfolio"  >by Portfolio</a>
																										</li>
															<li class="">
																			<a class="link" href="index.php?module=Portfolio_Allocation&action=index"  >Portfolio Allocation</a>
																										</li>
															<li class="quick-links-header">
																			<span class="" >Quick Links</span>
																										</li>
															<li class="quick-link">
																			<a class="icon icon-more" href="index.php?module=Portfolio_Allocation&action=EditView"  >Create a new allocation</a>
																										</li>
								
						</ul>
					</div>
					
			</li>
		
						<li class="icon report">
				<a class="link primary" href="index.php?module=ComplianceReports&action=Overview"><span>Compliance</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Compliance</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
																						<li class="">
																			<a class="link" href="index.php?module=ComplianceReports&action=Overview"  >Overview</a>
																										</li>
															<li class="accordion-item">
																			<a class="" href="index.php?module=KBE_VQF&action=index"  >Regulatory</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=KBE_VQF&action=index">View all cases</a>
												</li>
																							<li class="">
													<a href="index.php?module=KBE_VQF&action=EditView&return_module=KBE_VQF&return_action=DetailView">Create Case</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="" href="index.php?module=ComplianceReports&action=Overview"  >Investment</a>
																																						<ul class="level3">
																							<li class="accordion-item">
													<a href="index.php?module=ComplianceReports&action=Overview">View all cases</a>
												</li>
																							<li class="">
													<a href="index.php?module=GII&action=index">GII</a>
												</li>
																							<li class="">
													<a href="index.php?module=GII&action=EditView&return_module=GII&return_action=DetailView">Create GII</a>
												</li>
																							<li class="">
													<a href="index.php?module=PII&action=index">PII</a>
												</li>
																							<li class="">
													<a href="index.php?module=PII&action=EditView&return_module=PII&return_action=DetailView">Create PII</a>
												</li>
																					</ul>
																	</li>
								
						</ul>
					</div>
					
			</li>
		
						<li class="icon addfin-circle">
				<a class="link primary" href="index.php?module=nxcAddfinCircle&action=index"><span>ADDFIN Circle</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Compliance</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
																						<li class="">
																			<a class="link" href="javascript:void(0)"  >Companies</a>
																										</li>
															<li class="">
																			<a class="link" href="javascript:void(0)"  >Library</a>
																										</li>
								
						</ul>
					</div>
					
			</li>
			</ul>
</nav>	
	<section role="main" class="main row personal-open">
		<div id="content" class="small-12 column">
			
			<iframe id='ajaxUI-history-iframe' src='index.php?entryPoint=getImage&amp;imageName=blank.png'  title='empty' style='display:none'></iframe>
			<input id='ajaxUI-history-field' type='hidden'>
			<script type='text/javascript'>
			if (SUGAR.ajaxUI && !SUGAR.ajaxUI.hist_loaded)
			{
					YAHOO.util.History.register('ajaxUILoc', "", SUGAR.ajaxUI.go);
										// quick find
					YAHOO.util.History.initialize("ajaxUI-history-field", "ajaxUI-history-iframe");
					
			}
			</script>
			
			<script>
            $(document).ready(function(){
				var data = 1;
				if( data ) {
					$("span#ribbon-text__1ded81c7-99a9-e05c-ea19-5739dfd1bfa3").html(data).parent().removeClass('hidden');
				}
	        });
        </script>	<script>
	(function($){
		var data = {
			id: '1e1548f3-347b-8149-c34e-5739df3d04bc',
			url: 'index.php',
			action: 'MyOpportunities',
			dashlet: 'Opportunities',
			selector: '.myopportunities.search-field',
			clearSelector: '.myopportunities.clear-search span',
		};
##################################
    <style>
        .menu{
            z-index:100;
        }

        .subDmenu{
            z-index:100;
        }

        div.moduleTitle {
            height: 10px;
        }
    </style>




<script type="text/javascript" src="cache/include/javascript/sugar_grp_yui_widgets.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
<script type="text/javascript" src="include/javascript/dashlets.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>


		<!--[if lt IE 9]>
		<script type="text/javascript" src="include/SugarCharts/Jit/FlashCanvas/flashcanvas.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
		<![endif]-->
		<script language="javascript" type="text/javascript" src="include/SugarCharts/Jit/js/Jit/jit.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
		<script language="javascript" type="text/javascript" src="include/SugarCharts/Jit/js/sugarCharts.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
		

		<script language="javascript" type="text/javascript" src="include/SugarCharts/Jit/js/mySugarCharts.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
		



<div class="current-date"><span>May</span><strong>26</strong></div>

<div class="moduleTitle">
        <img id="company_logo_image" src='custom/themes/default/images/company_logo.png' alt='' class="left" />
    <div class="left">
        <h2>Dashboard</h2>
        <button id="add_dashlets" class="button icon icon-plus" title="Add Dashlets" onclick="return SUGAR.mySugar.showDashletsDialog();"></button>    </div>
    </div>

<div id="pageContainer" class="yui-skin-sam">
    <div id="pageNum_0_div">
        <table class="span9" cellspacing="0" cellpadding="0" border="0">
            <tbody class="span9">
                <tr class="main-chart-row">
                    <td colspan="2">
                        <div class="chart">
	<div class="chart-map"></div>
	<ul class="chart-legend">
		<li class="live">
			<span class="graf-color"></span>
			<span class="graf-name">Live Portfolios</span>
		</li>
		<li class="ben">
			<span class="graf-color"></span>
			<span class="graf-name">Benchmark Portfolios</span>
		</li>
		<li class="sim">
			<span class="graf-color"></span>
			<span class="graf-name">Simulation Portfolios</span>
		</li>
	</ul>
</div>
<div class="chart-right-menu">
	<div class="menu-header">
		<a class="icon-settings" href="javascript:void(0)"></a>
		<a class="refreshIcon" href="javascript:void(0)"></a>
	</div>
	<table class="menu-entries">
		<tbody>
			<tr>
				<td class="icon icon-tasks"></td>
				<td class="counter">6</td>
				<td colspan="2" class="menu-title"><a href="index.php?module=Tasks&action=index">Open<br>Tasks</a></td>
			</tr>
			<tr>
				<td class="icon icon-target"></td>
				<td class="counter">8</td>
				<td class="menu-title"><a href="index.php?module=Leads&action=index">New<br>Leads</a></td>
				<td class="leads-progress">
					<div class="in-progress">
						<span class="counter">1</span>
						<span>in progress</span>
					</div>
					<div class="not-started">
						<span class="counter">1</span>
						<span>not started</span>
					</div>
				</td>
			</tr>
			<tr>
				<td class="icon icon-portfolios"></td>
				<td class="counter">3</td>
				<td colspan="2" class="menu-title">
					<a href="#">Portfolios</a>
					<span>under management</span>	
				</td>
			</tr>
			<tr>
				<td class="icon icon-office-management"></td>
				<td class="counter">26</td>
				<td class="menu-title">
					<a href="index.php?module=Contacts&action=index">Accounts</a>
					<span>under management</span>	
				</td>
				<td class="account-groups">
					<div>
						<span class="counter">6</span>
						<span>Clients</span>
					</div>
					<div>
						<span class="counter">2</span>
						<span>Prospects</span>
					</div
				</td>
			</tr>
		</tbody>
	</table>
</div>



                    </td>
                </tr>
                <tr class="span9">
                    
                                            <td valign='top' width='50%' class="span6">
                            <ul class='noBullet' id='col_0_0'>
                                <li id='page_0_hidden0b' style='height: 5px; margin-top:12px;' class='noBullet'>&nbsp;&nbsp;&nbsp;</li>
                                                                        <li class='noBullet' id='dashlet_1ded81c7-99a9-e05c-ea19-5739dfd1bfa3'>
                                        <div id='dashlet_entire_1ded81c7-99a9-e05c-ea19-5739dfd1bfa3' class='dashletPanel'>
                                            
                                            <div onmouseover="this.style.cursor = 'move';" id="dashlet_header_1ded81c7-99a9-e05c-ea19-5739dfd1bfa3" class="hd"><div class="tl"></div><div class="hd-center"><table width="100%" cellpadding="0" cellspacing="0" border="0" class="formHeader h3Row">
<tr>
<td>
	<script>
jQuery(function() {
  jQuery('#table').change(function() {
    web2py_component("{{=URL('default', 'form.load')}}" + "/" +
      jQuery(this).val(), target='form')
  })
})
</script>
{{=SELECT('Select a table', *db.tables, _id='table')}}
<div id="form"></div>
                                 </tr>
            </tbody>
        </table>
    </div>

            <div id="pageNum_0_div" style="display:none;">
        </div>
    


    <div id="dashletsDialog" style="display:none;">
        <div class="hd" id="dashletsDialogHeader"><a href="javascript:void(0)" onClick="javascript:SUGAR.mySugar.closeDashletsDialog();">
                <div class="container-close icon-cross">&nbsp;</div></a>Add
        </div>
        <div class="bd" id="dashletsList">
            <form></form>
        </div>

    </div>


</div>

<div class="disclaimer">Data Provider: SIX Financial Information - disclaimer</div><script>if(typeof(qe_init) != 'undefined'){qe_init();}</script><script>secondsSinceLoad = 0; alertList = [];		if (!alertsTimeoutId) {
		    checkAlerts();
		}
</script>		</div>
		</div>
	</section>
	<!-- End main content -->

	<!-- Scripts -->
	<script src="themes/AddfinV3/js/libs/big.min.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
	<script src="themes/AddfinV3/js/jquery.cookie.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
	<script src="/themes/AddfinV3/js/libs/colorbox/jquery.colorbox.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
	<script src="/themes/AddfinV3/js/libs/chosen/chosen.jquery.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
	<script src="/themes/AddfinV3/js/libs/chosen/docsupport/prism.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
	<script src="themes/AddfinV3/js/setup.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
	<script src="/themes/AddfinV3/js/lateral-menu.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
	<script src="/themes/AddfinV3/js/search.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
	<script src="/themes/AddfinV3/js/ajaxdashlets.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
	<script src="/themes/AddfinV3/js/core.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
	
	<!-- Tinycon -->
	<script src="themes/AddfinV3/js/libs/tinycon.min.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
	
	<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script type="text/javascript" src="https://www.amcharts.com/lib/3/pie.js"></script>
	<script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
	<script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/none.js"></script>
	<script type="text/javascript" src="https://www.amcharts.com/lib/3/amstock.js"></script>
	
	<script>
	
		// Call template init (optional, but faster if called manually)
		$.template.init();

		// Favicon count
		//Tinycon.setBubble(2);
		//chosen init
		$("select[multiple='true']").chosen();
	
	</script>

<a href="#" id="open-menu"><span></span></a>
<nav class="personal locked-animation open">
	<div id="menu-content">
		
<header>
	<span>Administrator</span>
	<a href="javascript:void(0)" class="collapse-link"></a>
</header>


<div id="profile">
	<div class="profile-image">
		<img src="https://s.gravatar.com/avatar/e49a82581f75877325f9ade643b3eb37?s=75&d=404" width="75" height="75" alt="rprior " class="user-icon">
	</div>
	<span class="greeting">Welcome</span>
	<span class="name"><span class="fn">rprior</span><span class="ln">rprior</span></span>
	<span class="profile-logout">[ <a id="logout_link" href='index.php?module=Users&action=Logout' class='utilsLink'>Log out</a> ]</span>
</div>

<script type="text/javascript">
	$('#profile img').bind('error',function(e){
		$('#profile img').attr('src','/themes/AddfinV2/img/user.png');
	});
</script>
		<ul id="access" class="children-tooltip">
			<li><a href="index.php?module=Emails&action=index" title="Messages"><span class="icon icon-inbox"></span><span class="count" id="children-tooltip__unreaded_mail">44</span></a></li>
			<li><a href="index.php?module=Calendar&action=index" title="Calendar"><span class="icon icon-calendar"></span></a></li>
			<li><a href="index.php?module=Users&action=DetailView&record=5c79491f-9385-b7f4-c973-5739dfc0925a" title="Profile"><span class="icon icon-user"></span></a></li>
						<li><a href="index.php?module=Administration&action=index" title="Admin"><span class="icon icon-gear"></span></a></li>
					</ul>

		<section class="navigable">
			<ul class="big-menu">
				<li class="with-right-arrow">
					<a href="index.php?module=Tasks&action=index">Tasks</a>
				</li>
				<li class="with-right-arrow">
					<a href="index.php?module=Calls&action=index">Calls</a>
				</li>
				<li class="with-right-arrow">
					<a href="index.php?module=Leads&action=index">Leads</a>
				</li>
				<li class="with-right-arrow">
					<a href="index.php?module=Opportunities&action=index">Opportunities</a>
				</li>
				<li class="with-right-arrow">
					<a href="index.php?module=Notes&action=index">Notes</a>
				</li>
			</ul>
		</section>

		<ul class="notifications">
			
								</ul>
		    <div class="language-select">
      <select class="select" style="width: 100%" name='login_language' onchange="switchMainLanguage(this.value)">
<OPTION selected value='en_us'>English (US)</OPTION>
<OPTION value='de_de'>Deutsch</OPTION></select>
    </div>

    
    <script type='text/javascript'>
        function switchMainLanguage(lang){
               var loc=window.location+"";
               loc=loc.replace(/\&login_language=[^&]*/i,"");
               loc=loc.replace(/\?login_language=[^&]*/i,"");
               if(loc.indexOf("?") >= 0) {
                   loc+="&login_language="+lang;
               }
               else {
                   loc+="?login_language="+lang;
               }
               window.location=loc;
        }
    </script>
    
		<footer id="menu-footer">
			<p class="button-height">
				<input type="checkbox" name="auto-refresh" id="auto-refresh" checked="checked" class="switch right">
				<label for="auto-refresh">Auto-refresh</label>
			</p>
		</footer>
	</div>
</nav>

<script type="text/javascript">
(function($){
	var menu = $('nav.personal');

	function updatePersonalMenu(){
		if($.cookie('personal-menu') === 'expanded'){
			$('section.main').addClass('personal-open');
			menu.addClass('open');
		}else{
			$('section.main').removeClass('personal-open');
			menu.removeClass('open');
		}
	}
	updatePersonalMenu();
	$('#open-menu').on('touchend click', function(event){
		event.preventDefault();
		$.cookie('personal-menu', 'expanded');
		updatePersonalMenu();
		if(SUGAR.hasOwnProperty('email2') && SUGAR.email2.hasOwnProperty('e2Layout')){
			SUGAR.email2.e2Layout.resizeHorizontaly();
		}
	});
	$('nav.personal .collapse-link').on('touchend click', function(){
		$.removeCookie('personal-menu');
		menu.removeClass('locked-animation');
		updatePersonalMenu();
		if(SUGAR.hasOwnProperty('email2') && SUGAR.email2.hasOwnProperty('e2Layout')){
			SUGAR.email2.e2Layout.resizeHorizontaly();
		}
	});
})(jQuery);
</script>


<script src="/themes/AddfinV3/js/controls.js"></script>

</body>
</html>