<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Oxidation
Description: A two-column, fixed-width design for small websites and blogs.
Version    : 1.0
Released   : 20071229
layout for main views dir

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>📈Addfinwealth</title>
  <link rel="shortcut icon" href="company_logo.ico" type="image/x-icon" />
  {{response.files.append(URL(request.application,'static','Oxidation/style.css'))}}
{{include 'web2py_ajax.html'}}
 </head>
 <body>
  <div id="header">
   <div id="logo">
    <h1>
     Addfin.
    </h1>
    <h2>
     powered by <a href="http://addfinwealth.com">Addfin</a>
    </h2>
   </div>
   <div id="search">
    <form id="searchform" method="get" action="">
     <fieldset>
       [
       {{if not auth.user:}}
       <a href="{{=URL('user/login')}}">login</a>
       {{else:}}
       {{=auth.user.first_name}} |
       <a href="{{=URL('user/logout')}}">logout</a> |
       <a href="{{=URL('user/change_password')}}">password</a> |
       <a href="{{=URL('user/profile')}}">profile</a>
       {{pass}} ]
      <input id="searchquery" type="text" size="25" name="s" value="" />
      <input id="searchsubmit" type="submit" value="Search" />
     </fieldset>
    </form>
   </div>
  </div>
  <!-- end #header -->
  
<!-- <div id="menu"> -->
   <!-- {{=MENU(response.menu)}} -->
  <!-- </div> -->
  
  <!-- end #menu -->
  <div id="page">
   <div id="content">
     <div id="main">
        <div class="flash">{{=response.flash or ''}}</div> 
       {{include}}
     </div>
   </div>
   <!-- end content -->
   <!-- {{left_sidebar_enabled=True,right_sidebar_enabled=False,('message' in globals())}} -->


     <div class="ez-box" id="left_sidebar">
            {{block leftbar}}
                {{=MENU(response.menu,_class='sf-menu')}}
            {{end}}    
            </div>

   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end page -->
  <div id="footer">
   <p class="legal">
    &copy;2016 All Rights Reserved.
   </p>
   <p class="credit">
    Design by
    <a href="http://www.addfinwealth.com/">
     Addfin
    </a>
   </p>
  </div>
 </body>
</html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="linen js-login" >
    <head>
        <title>ADDFIN &#8211; Central Authentication Service</title>
        
        

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" href="/cas/favicon.ico" type="image/x-icon" />
        
    <!-- FROM LOGIN >>>> -->
        
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- For all browsers -->
    <link rel="stylesheet" href="css/reset.css?v=1">
    <link rel="stylesheet" href="css/style.css?v=1">
    <link rel="stylesheet" href="css/colors.css?v=1">
    <link rel="stylesheet" media="print" href="css/print.css?v=1">
    <!-- For progressively larger displays -->
    <link rel="stylesheet" media="only all and (min-width: 480px)" href="css/480.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 768px)" href="css/768.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 992px)" href="css/992.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 1200px)" href="css/1200.css?v=1">
    <!-- For Retina displays -->
    <link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="css/2x.css?v=1">

    <!-- Additional styles -->
    <link rel="stylesheet" href="css/styles/form.css?v=1">

    <!-- Login pages styles -->
    <link rel="stylesheet" media="screen" href="css/login.css?v=1">
    
    
    <!-- JavaScript at bottom except for Modernizr -->
    <script src="js/libs/modernizr.custom.js"></script>
    </head>
    <body>

<div id="container">
    <hgroup id="login-title" class="large-margin-bottom">
        <h1 class="login-title-image">Developr</h1>
    </hgroup>


  <div class="box fl-panel" id="login">
			<form id="fm1" class="fm-v clearfix" action="/cas/login?service=https%3A%2F%2Fmarketing.addfinwealth.com%2Findex.php%3Fmodule%3DDatabaseProducts%26action%3Dshow" method="post">
			
				<!-- Displaying error messages -->
				
				        
				
                    
                <ul class="inputs black-input large">
					<!-- The autocomplete="off" attributes is the only way to prevent webkit browsers from filling the inputs with yellow -->
                    
						

						
						
						<li>
							<span class="icon-user mid-margin-right"></span>
							<input id="username" name="username" class="input-unstyled" tabindex="1" placeholder="Login" accesskey="u" type="text" value="" size="25" autocomplete="false"/>
						</li>
						
						
					<li>
					
                        <span class="icon-lock mid-margin-right"></span>
						
						
						<input id="password" name="password" class="input-unstyled" tabindex="2" placeholder="Password" class="input-unstyled" accesskey="p" type="password" value="" size="25" autocomplete="off"/>
                    
                    </li>
				</ul>
                    
                    <div class="row btn-row">
						<input type="hidden" name="lt" value="LT-2630-uSePFcA6dLdeitz1F601yp93mAooHx" />
						<input type="hidden" name="execution" value="e1s1" />
						<input type="hidden" name="_eventId" value="submit" />

                        <input class="button glossy full-width huge" name="submit" accesskey="l" value="LOGIN" tabindex="4" type="submit" />
                        
            </form>
          </div>
          
</div><!-- end container -->

		
		<script src="js/jquery/jquery-1.7.2.js"></script>
		<script src="js/setup.js"></script>
			
        <!-- This script gives blue border around form on focus and needs setup.js, jquery-1.7.2.js and modernizr.custom.js -->
		<script src="js/developr.input.js"></script>
		
        <script type="text/javascript" src="/cas/js/cas.js"></script>
        
    </body>
</html>
