<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Oxidation
Description: A two-column, fixed-width design for small websites and blogs.
Version    : 1.0
Released   : 20071229
layout for main views dir

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>📈Addfinwealth</title>
  <link rel="shortcut icon" href="company_logo.ico" type="image/x-icon" />
  {{response.files.append(URL(request.application,'static','Oxidation/style.css'))}}
{{include 'web2py_ajax.html'}}

 ##########

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>AddFin</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- http://davidbcalhoun.com/2010/viewport-metatag -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<link rel="stylesheet" type="text/css" href="cache/themes/AddfinV3/css/yui.css?v=dIDb5q_rd7tYoNHykHZ6EQ" />
	<link rel="stylesheet" type="text/css" href="include/javascript/jquery/themes/base/jquery.ui.all.css" />
	<link rel="stylesheet" type="text/css" href="cache/themes/AddfinV3/css/deprecated.css?v=dIDb5q_rd7tYoNHykHZ6EQ" />
	<link rel="stylesheet" type="text/css" href="cache/themes/AddfinV3/css/style.css?v=dIDb5q_rd7tYoNHykHZ6EQ" />

</script>
<script type="text/javascript" src="cache/themes/AddfinV3/js/style.js?v=dIDb5q_rd7tYoNHykHZ6EQ"></script>
    	
	
	<link rel="stylesheet" href="themes/AddfinV3/css/styles.css?v=dIDb5q_rd7tYoNHykHZ6EQ">
	<!-- Webfonts -->
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

	<!-- Microsoft clear type rendering -->
	<meta http-equiv="cleartype" content="on">

</head>






##########
 <body onMouseOut="closeMenus();" class="clearfix with-menu with-shortcuts menu-hidden">
	<header role="banner" id="title-bar">
		<div class="logo">
			<div class="quick-access">
				
<div class="quick-access-wrapper">
	<ul>
		<li class="client-note">
			<a href="/index.php?module=Notes&action=EditView&return_module=Home&return_action=index" class="link">Create Note</a>
		</li>
        <li class="write-email">
            <a href="/index.php?module=Emails&action=index#compose_email" class="link">Write Mail</a>
        </li>
		<li class="create-portfolio">
			<a href="/index.php?module=Portfolio&action=EditView&return_module=Home&return_action=index" class="link">Create Portfolio</a>
		</li>
		<li class="create-task">
			<a href="/index.php?module=Tasks&action=EditView&return_module=Home&return_action=index" class="link">Create Task</a>
		</li>
		<li class="set-meeting">
			<a href="/index.php?module=Meetings&action=EditView&return_module=Home&return_action=index" class="link">Create Meeting</a>
		</li>

		<li class="create-relationship">
			<a href="/index.php?module=KBE_KUBE&action=EditView&return_module=Home&return_action=index" class="link">Create Relationship</a>
		</li>
		<li class="see-complience">
			<a href="/index.php?module=KBE_VQF&action=EditView&return_module=Home&return_action=index" class="link">Create Compliance Case</a>
		</li>
	</ul>
</div>			</div>
			<a href="#" class="logo-img"></a>
		</div>

		<div class="quick-search-wrapper">
			<div class="quick-search">
				<input type="text" name="search" value="" />
			</div>
			<div class="autocompleted-list"></div>
		</div>
	</header>
	<noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>

	
  </div>
  <!-- end #header -->
  
<!-- <div id="menu"> -->
   <!-- {{=MENU(response.menu)}} -->
  <!-- </div> -->
  
  <!-- end #menu -->
  <div id="page">
   <div id="content">
     <div id="main">
        <div class="flash">{{=response.flash or ''}}</div> 
       {{include}}
     </div>
   </div>
   <!-- end content -->
   <!-- {{left_sidebar_enabled=True,right_sidebar_enabled=False,('message' in globals())}} -->


 <!--   
	 		<nav class="main">
	<ul class="level1">
	<li class="icon dashboard">
            {{block leftbar}}
                {{=MENU(response.menu,_class='link primary')}}
            {{end}}    
            </div>
			</ul>
			</nav>

-->			
			
				
	<nav class="main">
	<ul class="level1">
		
				<a class="level1" href="list_crm_contacts"><span>Dashboard</span></a>
				<a class="level1" href="list_crm_contacts"><span>Relationship Management</span></a>
				<a class="level2" href="list_crm_contacts"><span>Create Lead From VCard</span></a>
				<a class="level1" href="list_crm_contacts"><span>Dashboard</span></a>
				<a class="level1" href="list_crm_contacts"><span>Dashboard</span></a>
				<a class="link primary" href="list_crm_contacts"><span>Dashboard</span></a>
				<a class="link primary" href="list_crm_contacts"><span>Dashboard</span></a>
				<a class="link primary" href="list_crm_contacts"><span>Dashboard</span></a>
				<a class="link primary" href="list_crm_contacts"><span>Dashboard</span></a>
				<a class="link primary" href="list_crm_contacts"><span>Dashboard</span></a>
				<a class="link primary" href="list_crm_contacts"><span>Dashboard</span></a>
				
 <link rel="contents" href="http://php.net/manual/en/index.php">	
			</li>
		
						<li class="icon customers current">
				<a class="link primary" href="index.php?module=Accounts&action=index"><span>Relationship Management</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Relationship Management</span>
									<a href="list_crm_contacts" class="collapse-link"></a>
								</li>
																						<li class="accordion-item">
																			<a class="link" href="list_crm_contacts"  >Leads</a>
																																						<ul class="level3">
																							<li class="">
													<a href="create_lead">Create Lead</a>
												</li>
												
																							<li class="">
													<a href="index.php?module=Leads&action=index&return_module=Leads&return_action=DetailView">View Leads</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Leads&return_module=Leads&return_action=index">Import Leads</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Opportunities&action=index"  >Opportunities</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Opportunities&action=EditView&return_module=Opportunities&return_action=DetailView">Create Opportunity</a>
												</li>
																							<li class="">
													<a href="index.php?module=Opportunities&action=index&return_module=Opportunities&return_action=DetailView">View Opportunities</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Opportunities&return_module=Opportunities&return_action=index">Import Opportunities</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Contacts&action=index"  >Contacts</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Contacts&action=EditView&return_module=Contacts&return_action=index">Create Contact</a>
												</li>
																							<li class="">
													<a href="index.php?module=Contacts&action=ImportVCard">Create Contact From VCard</a>
												</li>
																							<li class="">
													<a href="index.php?module=Contacts&action=index&return_module=Contacts&return_action=DetailView">View Contacts</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Contacts&return_module=Contacts&return_action=index">Import Contacts</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item current">
																			<a class="link" href="index.php?module=Accounts&action=index"  >Organisations</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Accounts&action=EditView&return_module=Accounts&return_action=index">Create Organisation</a>
												</li>
																							<li class="">
													<a href="index.php?module=Accounts&action=index&return_module=Accounts&return_action=DetailView">View Organisations</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Accounts&return_module=Accounts&return_action=index">Import Organisations</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=KBE_KUBE&action=index"  >Client Relationships</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=KBE_KUBE&action=EditView&return_module=KBE_KUBE&return_action=DetailView">Create Client Relationship</a>
												</li>
																							<li class="">
													<a href="index.php?module=KBE_KUBE&action=index">View Client Relationship</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Notes&action=index"  >Notes</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Notes&action=EditView&return_module=Notes&return_action=DetailView">Create Note or Attachment</a>
												</li>
																							<li class="">
													<a href="index.php?module=Notes&action=index&return_module=Notes&return_action=DetailView">View Notes</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Notes&return_module=Notes&return_action=index">Import Notes</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Tasks&action=index"  >Tasks</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Tasks&action=EditView&return_module=Tasks&return_action=DetailView">Create Task</a>
												</li>
																							<li class="">
													<a href="index.php?module=Tasks&action=index&return_module=Tasks&return_action=DetailView">View Tasks</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Tasks&return_module=Tasks&return_action=index">Import Tasks</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Calls&action=index"  >Calls</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Calls&action=EditView&return_module=Calls&return_action=DetailView">Log Call</a>
												</li>
																							<li class="">
													<a href="index.php?module=Calls&action=index&return_module=Calls&return_action=DetailView">View Calls</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Calls&return_module=Calls&return_action=index">Import Calls</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Meetings&action=index"  >Meetings</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=Meetings&action=EditView&return_module=Meetings&return_action=DetailView">Schedule Meeting</a>
												</li>
																							<li class="">
													<a href="index.php?module=Meetings&action=index&return_module=Meetings&return_action=DetailView">View Meetings</a>
												</li>
																							<li class="">
													<a href="index.php?module=Import&action=Step1&import_module=Meetings&return_module=Meetings&return_action=index">Import Meetings</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=Calendar&action=index"  >Agenda</a>
																										</li>
								
						</ul>
					</div>
					
			</li>
		
						<li class="icon documents">
				<a class="link primary" href="index.php?module=nxc_Documents&action=index"><span>Document Center</span></a>
					
			</li>
		
						<li class="icon database">
				<a class="link primary" href="index.php?module=DatabaseIndexes&action=show"><span>Financial Information</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Financial Information</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
																						<li class="">
																			<a class="link" href="index.php?module=DatabaseIndexes&action=show"  >Indexes</a>
																										</li>
															<li class="">
																			<a class="link" href="index.php?module=DatabaseProducts&action=show"  >Products</a>
																										</li>
															<li class="accordion-item">
																			<a class="link" href="index.php?module=DatabaseCurrencies&action=index"  >Currencies</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=DatabaseCurrencies&action=adminIndex">Manage Currencies</a>
												</li>
																					</ul>
																	</li>
															<li class="">
																			<a class="link" href="index.php?module=Database_Fundinfo&action=index"  >Fundinfo</a>
																										</li>
								
						</ul>
					</div>
					
			</li>
		
						<li class="icon investment-section">
				<a class="link primary" href="index.php?module=Portfolio&action=index"><span>Portfolio Management</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Portfolio Management</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
																						<li class="">
																			<a class="link" href="index.php?module=Portfolio&action=index"  >Overview</a>
																										</li>
															<li class="">
																			<a class="link" href="index.php?module=Portfolio&action=SearchClient"  >by Client</a>
																										</li>
															<li class="">
																			<a class="link" href="index.php?module=Portfolio&action=SearchPortfolio"  >by Portfolio</a>
																										</li>
															<li class="">
																			<a class="link" href="index.php?module=Portfolio_Allocation&action=index"  >Portfolio Allocation</a>
																										</li>
															<li class="quick-links-header">
																			<span class="" >Quick Links</span>
																										</li>
															<li class="quick-link">
																			<a class="icon icon-more" href="index.php?module=Portfolio_Allocation&action=EditView"  >Create a new allocation</a>
																										</li>
								
						</ul>
					</div>
					
			</li>
		
						<li class="icon report">
				<a class="link primary" href="index.php?module=ComplianceReports&action=Overview"><span>Compliance</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Compliance</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
																						<li class="">
																			<a class="link" href="index.php?module=ComplianceReports&action=Overview"  >Overview</a>
																										</li>
															<li class="accordion-item">
																			<a class="" href="index.php?module=KBE_VQF&action=index"  >Regulatory</a>
																																						<ul class="level3">
																							<li class="">
													<a href="index.php?module=KBE_VQF&action=index">View all cases</a>
												</li>
																							<li class="">
													<a href="index.php?module=KBE_VQF&action=EditView&return_module=KBE_VQF&return_action=DetailView">Create Case</a>
												</li>
																					</ul>
																	</li>
															<li class="accordion-item">
																			<a class="" href="index.php?module=ComplianceReports&action=Overview"  >Investment</a>
																																						<ul class="level3">
																							<li class="accordion-item">
													<a href="index.php?module=ComplianceReports&action=Overview">View all cases</a>
												</li>
																							<li class="">
													<a href="index.php?module=GII&action=index">GII</a>
												</li>
																							<li class="">
													<a href="index.php?module=GII&action=EditView&return_module=GII&return_action=DetailView">Create GII</a>
												</li>
																							<li class="">
													<a href="index.php?module=PII&action=index">PII</a>
												</li>
																							<li class="">
													<a href="index.php?module=PII&action=EditView&return_module=PII&return_action=DetailView">Create PII</a>
												</li>
																					</ul>
																	</li>
								
						</ul>
					</div>
					
			</li>
		
						<li class="icon addfin-circle">
				<a class="link primary" href="index.php?module=nxcAddfinCircle&action=index"><span>ADDFIN Circle</span></a>
														<div class="submenu-wrapper">
						<ul class="level2">
															<li class="submenu-title">
									<span>Compliance</span>
									<a href="javascript:void(0)" class="collapse-link"></a>
								</li>
																						<li class="">
																			<a class="link" href="javascript:void(0)"  >Companies</a>
																										</li>
															<li class="">
																			<a class="link" href="javascript:void(0)"  >Library</a>
																										</li>
								
						</ul>
					</div>
					
			</li>
			</ul>
</nav>	






   <div style="clear: both;">
    &nbsp;
   </div>
  </div>
  <!-- end page -->
  <div id="footer">
   <p class="legal">
    &copy;2016 All Rights Reserved.
   </p>
   <p class="credit">
    Design by
    <a href="http://www.addfinwealth.com/">
     Addfin
    </a>
   </p>
  </div>
 </body>
</html>
