{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}



{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}



{{extend 'layout.html'}}



<script>



$(document).ready(function() { 



   jQuery('.smarttable').dataTable(); 



   {{if not form.errors:}}jQuery('#form').hide();{{pass}}



});



</script>



<h1>List depot_bankss</h1>







[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]



<div id="form">



<h2>New depot_banks</h2>



{{=form}}



</div>







<br /><br />



<table class="smarttable">



<thead>



    <tr>



      <th>Name</th><th>Actions</th>



    </tr>    



</thead>



<tbody>



{{for depot_banksi in depot_banks:}}



    <tr>



       <td>{{=link_depot_banks(depot_banksi)}}</td>   



       <td>{{=button('depot_banks','list_depot_banks',depot_banksi.id)}}



       {{=button('edit','edit_depot_banks',depot_banksi.id)}}</td>



    </tr>



{{pass}}



</tbody>



</table>



