{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}



{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}



{{extend 'layout.html'}}



<script>



$(document).ready(function() { 



   jQuery('.smarttable').dataTable(); 



   {{if not form.errors:}}jQuery('#form').hide();{{pass}}



});



</script>



<h1>List fields_meta_datas</h1>







[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]



<div id="form">



<h2>New fields_meta_data</h2>



{{=form}}



</div>







<br /><br />



<table class="smarttable">



<thead>



    <tr>



      <th>Name</th><th>Actions</th>



    </tr>    



</thead>



<tbody>



{{for fields_meta_datai in fields_meta_data:}}



    <tr>



       <td>{{=link_fields_meta_data(fields_meta_datai)}}</td>   



       <td>{{=button('fields_meta_data','list_fields_meta_data',fields_meta_datai.id)}}



       {{=button('edit','edit_fields_meta_data',fields_meta_datai.id)}}</td>



    </tr>



{{pass}}



</tbody>



</table>



