{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}



{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}



{{extend 'layout.html'}}



<script>



$(document).ready(function() { 



   jQuery('.smarttable').dataTable(); 



   {{if not form.errors:}}jQuery('#form').hide();{{pass}}



});



</script>



<h1>List portfolioss</h1>







[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]



<div id="form">



<h2>New portfolios</h2>



{{=form}}



</div>







<br /><br />



<table class="smarttable">



<thead>



    <tr>



      <th>Name</th><th>Actions</th>



    </tr>    



</thead>



<tbody>



{{for portfoliosi in portfolios:}}



    <tr>



       <td>{{=link_portfolios(portfoliosi)}}</td>   



       <td>{{=button('portfolios','list_portfolios',portfoliosi.id)}}



       {{=button('edit','edit_portfolios',portfoliosi.id)}}</td>



    </tr>



{{pass}}



</tbody>



</table>



