{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}

{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}

{{extend 'layout.html'}}

<script>

$(document).ready(function() { 

   jQuery('.smarttable').dataTable(); 

   {{if not form.errors:}}jQuery('#form').hide();{{pass}}

});

</script>

<h1>List address_books</h1>



[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]

<div id="form">

<h2>New address_book</h2>

{{=form}}

</div>



<br /><br />

<table class="smarttable">

<thead>

    <tr>

      <th>Name</th><th>Actions</th>

    </tr>    

</thead>

<tbody>

{{for address_booki in address_book:}}

    <tr>

       <td>{{=link_address_book(address_booki)}}</td>   

       <td>{{=button('address_book','list_address_book',address_booki.id)}}

       {{=button('edit','edit_address_book',address_booki.id)}}</td>

    </tr>

{{pass}}

</tbody>

</table>

