{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
<script>
jQuery(document).ready(function(){
   jQuery('.smarttable').dataTable();
   {{if form and not form.errors:}}jQuery('#form').hide();{{pass}}
});
</script>
{{if company:}}
<h1>Contacts at {{=link_company(company)}}</h1>

[<a href="#nil" onclick="jQuery('#form').slideToggle();">addnew</a>]
<div id="form">
<h2>New Contact Person</h2>
{{=form}}
</div>
{{else:}}
<h1>All Contacts</h1>
[<a href="#nil" onclick="jQuery('#form').slideToggle();">addnew</a>]
<div id="form">
<h2>New Contact Person</h2>
{{=form}}
</div>
{{pass}}

<br /><br />
<table class="smarttable">
<thead>
  <tr>
    <th>Name</th><th>Role</th><th>Company</th><th>Action</th>
  </tr>
</thead>
<tbody>
{{for person in persons:}}
<tr>
<td>{{=person.name}}</td>
<td>{{=person.role}}</td>
<td>{{=cache.ram('c%s'%person.company, lambda:person.company.name,100)}}</td>
<td>{{=button('view','view_person',person.id)}}
{{=button('edit','edit_person',person.id)}}
{{=button('logs','list_logs',person.id)}}
{{=button('docs','list_docs',person.id)}}
{{=button('tasks','list_tasks',person.id)}}</td>
</tr>
{{pass}}
</tbody>
</table>


<form id="contactform">

<div class="formcolumn">

<label for="yourname">Your Name:</label>
<input type="text" id="yourname" />

<label for="youremail">Your Email:</label>
<input type="email" id="youremail" />

<fieldset>
<legend>Sex:</legend>
<ul>
<li>Male: <input type="radio" id="male" name="sex" /></li>
<li>Female: <input type="radio" id="female" name="sex" /></li>
</ul>
</fieldset>

</div>

<div class="formcolumn">

<fieldset>
<legend>Skills:</legend>
<ul>
<li>JavaScript: <input type="checkbox" id="javascript" /></li>
<li>CSS: <input type="checkbox" id="css" /></li>
<li>PHP: <input type="checkbox" id="php"/></li>
<li>Ruby: <input type="checkbox" id="ruby" /></li>
<li>Python: <input type="checkbox" id="python" /></li>
</ul>
</fieldset>

<label for="dept">Department:</label>
<select id="dept">
<option value="3">Developer</option>
<option value="2.1">HR department</option>
<option value="3">Sales</option>
<option value="4.1">Customer Service/ Support</option>
<option value="5.2">Accounting</option>
</select>

<label for="feedback">Your Experience:</label>
<textarea id="feedback"></textarea>

</div>

<div class="buttons">
<input class="button" type="submit" value="Submit!" />
</div>

</form>
